<br>  <br>  <br>  <br>  <br>  

<div class="row" style="background-color: rgb(244, 107, 10);">
  <h2 class="display-5 fw-bold text-white text-center">Add New Task</h2>
  <div class="w-50 col-md-9 offset-md-3 shadow-lg p-3 mb-5 bg-body rounded">
      
        <form #form="ngForm" (ngSubmit)="addTask()">

            <div class="mb-3">

              <label for="tname" class="form-label">Task Name</label>
              
              <input type="text" class="form-control" id="tname" name="taskName" [(ngModel)]="addTaskRequest.title">

            </div>

            <div class="mb-3">

                <label for="tdesc" class="form-label">Task Description</label>

                <input type="text" class="form-control" id="tdesc" name="taskDesc" [(ngModel)]="addTaskRequest.description">

            </div>

            <div class="mb-3">

                <label for="duedate" class="form-label">Task DueDate</label>

                <input type="date" class="form-control"  format='yyyy-mm-dd hh:mm a'    id="duedate" name="taskDate" [(ngModel)]="addTaskRequest.dueDate">

            </div>


   

            <!-- <div class="mb-3">

              <label for="exampleInputPassword1" class="form-label">Task Description</label>

              <input type="text" class="form-control" id="desc">

            </div> -->

            <!-- <div class="mb-3 form-check">

              <input type="checkbox" class="form-check-input" id="exampleCheck1">

              <label class="form-check-label" for="exampleCheck1">Check me out</label>

            </div> -->

            <button type="submit" class="btn btn-info btn-rounded">Submit</button>
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-light btn-rounded ">Cancle</button>
        </form>

    </div>

</div>