<div style="background-color: rgb(244, 107, 10);">
    <nav class="navbar navbar-expand-lg fixed-top  " aria-label="Main navigation" style="background-color: #bab1b9;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: rgb(0, 0, 0);" routerLink="/">Xpress Money Task Managment</a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           
            <a class="nav-link active" aria-current="page"  routerLink="/AddTask" >Add Task</a>
          </li>
         
          <li class="nav-item">
           
            <a class="nav-link active" aria-current="page"  routerLink="/AllTask" >Get All Task</a>
          </li>
          
        </ul>
        <img
            src="/assets/log.jpg"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
            (click)="open()"
          />    
          
      </div>
    </div>
  </nav>


<span class="example-spacer"></span>

<router-outlet></router-outlet>

</div>


