
<br><br>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
  
          <div class="card mask-custom">
            <div class="card-body p-4 text-white">
  
              <div class="text-center pt-3 pb-2">
                <h2 class="my-4">Welcome To Task Managment System</h2>
              </div>
             <h3> What is a task management system?</h3>
              A task management tool is used by an individual, team, or organization to complete projects efficiently by organizing and prioritizing related tasks.
               Task management tools come in many forms, like basic spreadsheets or online project management applications.

               <br><br>
             <h3>  Why is a task management system important?</h3>  
                    Why Is Task Management So Important? | HighGear
                Task management systems help keep your workflow consistent by 
                providing a clear and concise overview of what needs to be done, 
                when it needs to be done, and who is responsible for it.
            <br>
            <br>
<img src="/assets/home.png" width="100%" >
            </div>
          </div>
  
        </div>
      </div>
    </div>
